<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Cucumber Test Suite">
    <test name="Cucumber Test">
        <classes>
            <class name="testRunner.TestRunner"/>  <!-- Ensure the package is correct -->
        </classes>
    </test>
</suite>
